body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
}

#dashboard {
    max-width: 800px;
    margin: auto;
    text-align: center;
    width: 100%;
    padding: 10px;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#clock,
#date,
#greeting {
    margin: 10px 0;
    font-size: 24px;
}

#quick-links h2,
#todo-list h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

#quick-links li,
#todo-list li {
    margin: 10px 0;
    font-size: 16px;
    padding: 10px;
    background-color: #e8e8e8;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#quick-links li,
#todo-list li {
    margin: 10px 0;
    font-size: 16px;
    padding: 5px;
    font-weight: 500;
}

#quick-links a:visited,
#todo-list a:visited {
    color: #0066cc;
}

#new-link-name,
#new-link-url,
#new-task,
#add-link,
#add-task {
    width: 90%;
    height: 40px;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 5px 10px;
}

button {
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004a9f;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

#go-to-google,
#clear-lists {
    padding: 10px 15px;
    font-size: 16px;
    margin-bottom: 15px;
}

#add-link,
#add-task {
    width: calc(90% - 20px);
    padding: 10px 15px;
    font-size: 16px;
    margin: 10px 0;
}

#links-list button,
#tasks button {
    padding: 8px 16px;
    margin-left: 10px;
    font-size: 16px;
    border-radius: 4px;
    vertical-align: middle;
}


/* Theme */

#theme-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

#theme-icon {
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
}

#theme-toggle-text {
    font-size: 16px;
    cursor: pointer;
    /* Additional styling as needed */
}

#theme-checkbox {
    display: none;
}


/* Night Mode Theme */

.theme-night {
    background-color: #1a1a1a;
    color: #d9d9d9;
}

.theme-night #dashboard {
    background-color: #262626;
}

.theme-night label {
    color: #d9d9d9;
}

.theme-night #quick-links a:visited,
.theme-night #todo-list a:visited {
    color: #4da6ff;
}

.theme-night #clock,
.theme-night #date,
.theme-night #greeting {
    color: #ffffff;
}

.theme-night #quick-links h2,
.theme-night #todo-list h2 {
    border-bottom: 1px solid #444;
}

.theme-night #quick-links li,
.theme-night #todo-list li {
    background-color: #333333;
    color: #d9d9d9;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.theme-night button {
    background-color: #505050;
    color: #d9d9d9;
}

.theme-night button:hover {
    background-color: #606060;
}

.theme-night button:active {
    background-color: #707070;
}

.theme-night #theme-icon {
    color: #ffffff;
}


/* Mobile-Friendly Adjustments */

@media (max-width: 600px) {
    #quick-links,
    #todo-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #new-link-name,
    #new-link-url,
    #new-task,
    #add-link,
    #add-task,
    #go-to-google,
    #clear-lists,
    #links-list button,
    #tasks button {
        width: 95%;
        /* Increase width on mobile for better touch interaction */
        margin: 10px 10px;
        /* Increase margin for spacing */
    }
}